* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* title h1, h2, h3 etc... */

/* button */
.button {
  color: white;
  background-color: rgb(0,97,255);
  padding: 6px 24px;
}

.button.btn:hover{
  background-color: rgba(0,97,255,.5);
}

.button.btn-jumbo:hover {
  background-color: rgba(0,97,255,.5);
}

.btn-business {
  font-size: 18px;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 8px 24px;
}

.btn-business:hover {
  background-color: rgb(216, 216, 216);
}

/* columns row */
.column {
  width: 31%;
  /* togliere altezza quando inserito contenuto*/
  height: 700px;
  border: 1px solid black;
  float: left;
}


/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  z-index: 500;
}

.left, .right {
  width: 50%;
  line-height: 64px;
  min-width: 100px;
}

.left{
  text-align: left;
  float: left;
}

.right {
  text-align: right;
  float: right;
}

nav ul li{
  display: inline-block;
  list-style: none;
}

li {
  margin: 0 4%;
}

.logo img{
  width: 100%;
  vertical-align: middle;
}

a {
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

li:hover {
  line-height: 64px;
  border-bottom: 4px solid black;
}

.disabled {
  border-bottom: none !important; 
}

/* jumbotron */
.jumbotron {
  width: 100%;
  height: 900px;
  background-color: rgb(180,208,231);
  padding-top: 64px;
}

.left-jumbo {
  width: 25%;
  float: left;
  margin-left: 10%;
}

.right-jumbo {
  text-align: left;
  width: 50%;
  float: right;
  margin-right: 10%;
}

.right-jumbo img {
  width: 100%;
}

h1 {
  font-size: 85px;
  font-weight: 600;
  margin: 4% 10% 4% 10%;
}

.arrow i {
  font-size: 48px;
}

.cta-jumbo, .btn-jumbo{
  margin-left: 0;
  margin-bottom: 24px;
}

.text-left-jumbo {
  margin-bottom: 10%;
}

/* main */
.container{
  width: 80%;
  margin: 0 auto;
}

/* top part of the main */
.top-main {
  margin: 300px auto 32px auto;
}

h2 {
  font-size: 48px;
  margin-bottom: 48px;
}

.choice>span {
  display: inline-block;
  margin-right: 32px;
}

/* columns*/
.col-left, .col-middle {
  margin-right: 3.5%;
}

.col-title {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 12px 0;
}

/* box under the row */
.under-row {
  height: 200px;
  border: 1px solid black;
  margin-top: 80px;
}

/* section to contact partners */
.contacting {
  display: inline-block;
  margin: 180px 0;
}

.talking-guys img {
  max-width: 100%;
}

.talking-guys {
  width: 51%;
  margin-right: 5%;
  float: left;
  vertical-align: middle;
}

.text-guys {
  padding-top: 48px;
}

h3 {
 font-size: 32px;
 margin-bottom: 32px;
}

.text-guys p {
  margin-bottom: 32px;
  line-height: 32px;
}

/* Dropbox Business section */
.row-second .column {
  border: none;
}

.col-pic img {
  width: 100%;
}

.col {
  margin-right: 3.5%;
}

/* section with square in it */
.last-title {
  width: 47%;
  margin-bottom: 64px;
}

.last-title a {
  color: blue;
  text-decoration: underline;
}

/* section with square */
.square{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: blueviolet;
}

.left-square, .right-square {
  position: relative;
  width: 500px;
  height: 500px;
}



.little-square {
  width: 250px;
  height: 250px;
  border: 1px solid black;

}

.left-square {
  position: absolute;
  left: 0;
  top: 0;
}

.right-square {
  position: absolute;
  right: 0;
  top: 0;
}



.left-square .little-square:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    background-color: yellow;
}

.left-square .little-square:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: orange;
}

.left-square .little-square:nth-child(3) {
    position: absolute;
    left: 0px;
    bottom: 0;
    background-color: red;
}

.left-square .little-square:nth-child(4) {
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
}

.right-square .little-square:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    background-color: yellow;
}

.right-square .little-square:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: orange;
}

.right-square .little-square:nth-child(3) {
    position: absolute;
    left: 0px;
    bottom: 0;
    background-color: red;
}

.right-square .little-square:nth-child(4) {
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
}

.middle-square {
  position: absolute;
  left: 500px;
  right: 500px;
  top: 0;
  width: 50%;
  height: 500px;
  background-color: black;
  overflow: auto;
}


